Ref/RecvBuffApp/SchemaTest.xml

<schema xmlns="http://purl.oclc.org/dsdl/schematron">
    <title>A Schematron Mini-Schema for Schematron</title>
    <ns prefix="sch" uri="http://purl.oclc.org/dsdl/schematron">
        <pattern>
            <rule context="sch:schema">
                <assert test="sch:pattern"
                    >A schema contains patterns.</assert>
                <assert test="sch:pattern/sch:rule[@context]"
                    >A pattern is composed of rules.
                    These rules should have context attributes.</assert>
                <assert test="sch:pattern/sch:rule/sch:assert[@test]
                    or sch:pattern/sch:rule/sch:report[@test]"
                    >A rule is composed of assert and report statements.
                    These rules should have a test attribute.</assert>    </rule>
        </pattern>
        
    </schema>
